/.travis.yml
/git_push.sh
/docs
/schul_cloud_ressources_server_tests_v1.egg-info
/setup.py
/build
/schul_cloud_ressources_api_v1.egg-info
/requirements.txt
/README.md
/schul_cloud_ressources_server_tests_v1
/dist
/test-requirements.txt
__pycache__
/.cache
/.tox
*.pyc
